%h1 Totally Imaginarium eComerce Orders

%table#ordersTable.display{"data-source" => orders_url(format: "json")}
  %thead
    %tr
      %td Order Number
      %th Products
      %th Total Price
      %th Customer Name
      %th Address
      %th Payment Type
      %th Order Date

  %tbody

%br

= link_to 'New Order', new_order_path
